<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head'); %>
    <link rel="stylesheet" href="/css/setting_admin.css" >
    <title><%= title %></title>
</head>
<body>

    <header class="header">
        <div class="info-title">
            <span class="title"><%= span %></span>
        </div>
        <%- include ('./partials/header'); %>
    </header>
    <%- include ('./partials/navigation'); %>
    <section class="content">
    <%- include ('./partials/setting_admin'); %>
    </section>


    <script src="/js/menumobile.js"></script>
    <script src="/js/gsap.min.js"></script>
</body>
</html>