<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head'); %>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/table.css" >
</head>
<body>

    <header class="header">
        <div class="info-title">
            <span class="title"><%= span %></span>
        </div>
        <%- include ('./partials/header'); %>
    </header>

    <%- include ('./partials/navigation'); %>


    <%- include ('./partials/tableDefault'); %>
    <div class="form-gridview">
        <table class="default">
            <%- include ('./partials/table_users'); %>
        </table>

        <div class="pages">
            <ul>
                <li class="active">
                    <div>
                        <button type="submit" name="page" value="1">1</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>


    <%- include ('./partials/flotinChat'); %>
<script>
var btnAddDisabled = document.querySelector(".activateOptionPeriods");
btnAddDisabled.classList.add("btn-disabled");

</script>

    <script src="/js/menumobile.js"></script>
    <script src="/js/gsap.min.js"></script>
</body>
</html>