<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/head'); %>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/table.css">
        <link rel="stylesheet" href="/css/form_add.css">
        <link rel="stylesheet" href="/css/select2.css">
        <link rel="stylesheet" href="/css/select2.min.css">

</head>

<body>
    <header class="header">
        <div class="info-title">
            <span class="title">
                <%= span %>
            </span>
        </div>
        <%- include ('./partials/header'); %>
    </header>

    <%- include ('./partials/navigation'); %>
        <section class="content">
            <div class="content-aside">
                <div class="form-options">
                    <div class="options">
                        <div> <button style="text-decoration: none; " class="btn btn-requerid icon btn-disabled"
                                disabled>add</button>
                        </div>
                        <div><a href="#" style="text-decoration: none;" class="btn btn-requerid icon" name="btn"
                                type="submit" requerid="">code</a>
                        </div>
                        <div>
                            <a href="#" style="text-decoration: none;" class="btn btn-requerid icon" name="btn"
                                type="submit" requerid="">print</a>
                        </div>
                        <a href="#" style="text-decoration: none;" class="btn btn-search-mobile icon">search</a>
                        <div>
                            <a href="/periods" style="text-decoration: none;" class="btn btn-exit icon">close</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-data">
                <div class="head">
                    <h1 class="titulo">Agregar</h1>
                </div>
                <div class="body">
                    <form>
                        <div class="wrap">
                            <div class="first">
                                <label for="txtspid" class="label">Periodo escolar</label>
                                <input id="txtspid" class="text" type="text" name="txtspid" value=""
                                    placeholder="ID Periodo Escolar" maxlength="20"
                                    onkeyup="this.value = this.value.toUpperCase()" required="" autofocus="">
                                <label for="txtspname" class="label">Nombre</label>
                                <input id="txtspname" class="text" type="text" name="txtspname" value=""
                                    placeholder="Nombre" maxlength="100" required="">
                                <label for="datespstart" class="label">Inicia</label>
                                <input id="datespstart" class="date" type="text" name="datespstart" value=""
                                    pattern="\d{4}-\d{2}-\d{2}" placeholder="aaaa-mm-dd" maxlength="10" required="">
                            </div>
                            <div class="last">
                                <label for="datespend" class="label">Termina</label>
                                <input id="datespend" class="date" type="text" name="datespend" value=""
                                    pattern="\d{4}-\d{2}-\d{2}" placeholder="aaaa-mm-dd" maxlength="10" required="">
                                <label for="selectactive" class="label">Activo</label>
                                <select id="selectactive" class="select selectactive" name="selectactive" required="">
                                    <option value="1">Si</option>
                                    <option value="0">No</option>
                                </select>
                                <label for="selectcurrent" class="label" style="">Actual</label>
                                <select id="selectcurrent" class="select selectactive" name="selectcurrent" required="">
                                    <option value="0">No</option>
                                    <option value="1">Si</option>
                                </select>
                            </div>
                        </div>
                        <button class="btn icon" type="submit">save</button>
                    </form>
                </div>
            </div>
        </section>
        <%- include ('./partials/flotinChat'); %>
            <script>
                $(document).ready(function () {
                    $('.selectactive').select2();
                });
            </script>
            <script src="/js/select2.min.js"></script>
            <script src="/js/menumobile.js"></script>
            <script src="/js/gsap.min.js"></script>
</body>

</html>