<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head'); %>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/table.css">
</head>
<body>


    <header class="header">
        <div class="info-title">
            <span class="title"><%= span %></span>
        </div>
        <%- include ('./partials/header'); %>
    </header>

    <%- include ('./partials/navigation'); %>

    <%- include ('./partials/tableDefault'); %>



    <div class="form-gridview activateForm">
        <table class="default">
            <%- include ('./partials/table_periods'); %>
        </table>

        <div class="pages">
            <ul>
                <li class="active">
                    <div>
                        <button type="submit" name="page" value="1">1</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>


<form id="product-form" action="/new-perids" method="POST" >
    <input type="text" placeholder="periodo escolar" name="primerNombre" id="peridoEscolar"/>
    <input type="text" placeholder="Nombre" name="segundoCampo" id="nombrePeriodo"/>
    <input type="text" placeholder="estado" name="tercerCampo" id="estadoPeriodo"/>
    <input type="text" placeholder="actual" name="cuartoCampo" id="actualPeriodo"/>
    <button>Enviar</button>
</form>

<script>
form.addEventListener('submit', (e) => {
    e.preventDefault();
    const periodoEscolar = document.getElementById('peridoEscolar').value;
    const nombrePeriodo = document.getElementById('nombrePeriodo').value;
    const estadoPeriodo = document.getElementById('estadoPeriodo').value;
    const actualPeriodo = document.getElementById('actualPeriodo').value;

    // Enviar la información a Firebase mediante Fetch
    fetch('https://your-firebase-app.firebaseio.com/products.json', {
    method: 'POST',
    headers: {
        'Content-Type': 'application/json'
    },
    body: JSON.stringify({ periodoEscolar, nombrePeriodo, estadoPeriodo, actualPeriodo })
})
});
</script>

    <!-- <script src="/js/options.js"></script> -->
    <%- include ('./partials/flotinChat'); %>
    <script src="/js/menumobile.js"></script>
    <script src="/js/gsap.min.js"></script>
</body>
</html>
